h1.page-title{
	font-weight: 700;
	font-size: 2.5rem;
}
div.card-icon{
	margin: auto; 
	padding: 10% 0 0 0;

	i {
		font-size: 3rem;
		color: $blue;
	}
}
div.link-title{
	font-weight: $font-weight-bold;
	font-size: 1.2rem;
	padding: 0 0 5% 0;
	a {
		color: $secondary;
		&:hover {
            color: $blue;
		}
	}
}
ul.landing-list{
	padding-left: 0.5rem;
}
ul.contributing-list{
	padding-left: 1rem;
}

li.link-list{
	//padding-left: 10%;
	margin-top: 0.5rem;
	font-size: 1.125rem;
	list-style-position: outside;
	list-style: none;
	color: $blue;
	a {
		&:hover {
            color: darken($blue, 20%);
		}
	}
}
p.rn-date{
	color: $gray-600;
	font-size: 1rem;
}

div.my-column{
	background: $gray-100;
	border: 1px solid $gray-200;
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 0.75rem;
	margin-bottom: 1rem;
	//margin-left: 0.75%;
	//margin-right: 1%;
	padding: 2rem;
	@include media-breakpoint-up(xl){
		flex: 0 0 31%;
		max-width: 31%;
	}
	@include media-breakpoint-down(lg){
		flex: 0 0 46%;
		max-width: 46%;
	}
}
div.w-50{
	background: $gray-100;
	border: 1px solid $gray-200;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 0.75rem;
	padding: 1rem;
	@include media-breakpoint-up(xl){
		flex: 0 0 46%;
		max-width: 46%;
	}
	@include media-breakpoint-down(md){
		flex: 0 0 97%;
		max-width: 97%;
	}
}
div.image-card-col{
	padding-left: 1.75rem;
	padding-right: 0;
}
div.image-card{
	border: 1px solid $gray-200;
	box-sizing: border-box;
	border-radius: 4px;
}

div.my-row{
	margin: 0;
	max-width: 1280px;
}
h3.title-row{
	font-weight: 700;
	margin: 0.75rem;
}

div.cards-layout{
	padding-right: 0;
}
img.my-icon{
	width: 24px;
	height: 24px;
	margin: 0.5rem 1.5rem;
}
h4.card-title{
	color: $gray-900;
	font-weight: 600;
	margin: 0.5rem 0;

	&:hover {
		color: $blue;
		text-decoration: none;
	}
}
p.card-text{
	margin-top: 1rem;
	font-size: 1.125rem;
}
div.my-container{
	//padding: 5%;
	margin-top: 2rem;
	margin-left: -1%;
	max-width: 1280px;
}
a.doc-link{
	margin-left:15rem;
}