{{ $src := (.Page.Resources.GetMatch (printf "**%s*" (.Get "src"))) }}
<!--
    Start of code which will send a warning to the log if the image link is incorrect
-->
    {{ if $src }}
        {{ $imagepath := $src.RelPermalink }}
        {{ if  eq `/` (substr $imagepath 0 1) }} <!-- path is absolute - test path and path with /static in front -->
            {{ $fullimagepath := printf "/static%s" $imagepath}}
            {{ if not ( fileExists $fullimagepath) }}  <!-- /static file doesn't exist -->
                {{ if not ( fileExists $imagepath)}} <!-- content file doesn't exist - ALL files will show an image with absolute reference -->
                   {{ warnf "The image %s cannot be shown on page %s" $imagepath .Page.File.Path}}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ $fullimagepath := printf "/%s%s" .Page.File.Dir $imagepath}} <!-- fileExists needs full path -->
            {{ if not (fileExists $fullimagepath) }}
                {{ warnf "The image %s cannot be shown on page %s" $imagepath .Page.File.Path}}
            {{ else }}
                {{ if not (eq .Page.File.BaseFileName "_index") }} <!-- can't show bundle pages if it is not an _index file -->
                    {{ warnf "The image %s cannot be shown on non _index page %s" $imagepath .Page.File.Path}}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ $imagepath :=  (.Get "src") }}
        {{ if  eq `/` (substr $imagepath 0 1) }} <!-- path is absolute - test path and path with /static in front -->
            {{ $fullimagepath := printf "/static%s" $imagepath}}
            {{ if not ( fileExists $fullimagepath) }}  <!-- /static file doesn't exist -->
                {{ if not ( fileExists $imagepath)}} <!-- content file doesn't exist - ALL files will show an image with absolute reference -->
                   {{ warnf "The image %s cannot be shown on page %s" $imagepath .Page.File.Path}}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ $fullimagepath := printf "/%s%s" .Page.File.Dir $imagepath}} <!-- fileExists needs full path -->
            {{ if not (fileExists $fullimagepath) }}
                {{ warnf "The image %s cannot be shown on page %s" $imagepath .Page.File.Path}}
            {{ else }}
                {{ if not (eq .Page.File.BaseFileName "_index") }} <!-- can't show bundle pages if it is not an _index file -->
                    {{ warnf "The image %s cannot be shown on non _index page %s" $imagepath .Page.File.Path}}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}


<!-- ORIGINAL CODE FROM HERE -->
<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
        <img src="{{ if $src }}{{ $src.RelPermalink }}{{ else }}{{ .Get "src" }}{{ end }}" 
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
         {{- with .Get "width" }} width="{{ . }}"{{ end -}}
         {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    /> <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
